/* Dow Jones colors */
$black-dj: #000;
$darkest-dj: #0C2A31;
$darker-dj: #005A87;
$dark-dj: #006BA1;
$darky-dj: #394859;
$red-dj: #FF0000;
$admin-dj: #006BA1;
$adminer-dj: #007CBA;
$office-dj: #01FEFF;
$officer-dj: #8D9CA9;
$white-dj: #FFF;


/* UNED colors */
$black-uned: #000;
$darkest-uned: #212529;
$darker-uned: #01382B;
$office-uned: #00533F;
$magent-uned: #90214A;
$light-uned: #6C757D;
$white-uned: #FFF;