<html lang="en">
<head>
  <title>Flask Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <nav class="navbar navbar-expand-sm custom-one navbar-dark">
          <ul class="navbar-nav">
            <!-- Brand/logo -->
            <li class="nav-item">
              <a class="navbar-brand" href="#">Flask App</a>
            </li>
            <!-- Links -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>